<div class="container">
    <div class="form-signin">  
    	<%= image_tag("HS2logo.jpg", :alt => "hs2logo", class: "img-responsive") %>
        <div id="form-signin">
            <input type="text" class="input-block-level" placeholder="Username or Email" id="username" name="UserName">
            <input type="password" class="input-block-level" placeholder="Password" id="password" name="Password">
            <button id="btnLogOn" class="btn btn-large btn-primary btn-block ladda-button zoom-out">
                <span class="ladda-label">Login</span>
                <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
            </button>
            <center>
                <a id="btnForgot">Forgot your password?</a></p>
            </center>
        </div>

        <div id="form-register" style="display: none">
            <input id="r-username" class="input-block-level" name="Username" type="text" placeholder="Username">
            <input id="r-email" class="input-block-level" name="Email" type="text" placeholder="Email">
            <input id="r-password" class="input-block-level" name="Password" type="text" placeholder="Password">
            <input id="r-confirm" class="input-block-level" name="Confirm" type="text" placeholder="Confirm password">
            <button id="btnRegisterCancel" class="btn btn-inverse">Cancel</button>
            <button id="btnRegisterSend" class="btn btn-success ladda-button zoom-out">
                <span class="ladda-label">Register</span>
                <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
            </button>
        </div>

        <div id="form-forgot" style="display: none">
            <input id="rec-email" class="input-block-level" name="Email" type="text" placeholder="Email">
            <button id="btnForgotCancel" class="btn btn-inverse">Cancel</button>
            <button id="btnForgotSend" class="btn btn-danger ladda-button zoom-out">
                <span class="ladda-label">Recover</span>
                <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
            </button>
        </div>
    </div>
    <p id="copyright">&copy; HS2 Academy<br> All information on this website is password-protected and<br> confidential to be used only for HS2-related purposes.</p>
</div> <!-- /container -->

<script>
    // Bind normal buttons
    Ladda.bind( '.ladda-button', { timeout: 1000 } );
</script>
